@model IEnumerable<PostSys.ViewModels.PostCourseViewModel>

@{
	ViewBag.Title = "MinePost";
}

<h2>MinePost</h2>

@using (Html.BeginForm("MinePost", "Posts", FormMethod.Get))
{

	<table class="table table-hover">
		<tr>
			<th>Student Name</th>
			<th>Course Name</th>
			<th>Delete</th>
			<th>Show Comment</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.postName</th>
				<th>@item.courseName</th>
				<th>@Html.ActionLink("Delete", "DeleteMinePost", new { id = item.postId })</th>
				<th>@Html.ActionLink("Show Comment", "ShowComment", new { id = item.postId })</th>
			</tr>
		}
	</table>
}