@model IEnumerable<PostSys.Models.Comment>
@{
	ViewBag.Title = "ShowComment";
}

<h2>ShowComment</h2>

@using (Html.BeginForm("ShowComment", "Posts", FormMethod.Get))
{
	<table class="table table-hover">
		<tr>
			<th>Commnet</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.Reply</th>


			</tr>
		}
	</table>
}
